<h1>Our providers</h1>

<style type="text/css">
  #bottom { clear:both;}
</style>
<div id="provider-list">
  <%= render @providers %>
</div>

<div id="bottom">
  <%= link_to 'New provider', new_provider_path %>
</div>
