<h2>Our providers</h2>

<style type="text/css">
  #bottom { clear:both;}
</style>
<div id="provider-list">
  <%= render @providers %>
</div>

<% if admin? %>
  <div id="bottom">
    <%= link_to 'New provider', new_provider_path %>
  </div>
<% end %>