<h2>Our providers</h2>

<style type="text/css">
  #bottom { clear:both;}
</style>
<div id="provider-list">
  <%= render @providers %>
</div>

<div id="bottom">
  <% if admin? %>
    <%= link_to 'New provider', new_provider_path %>
  <% end %>
</div>