<h1>Our partners</h1>

<style type="text/css">
  #bottom { clear:both;}
</style>
<div id="partner-list">
  <%= render @partners %>
</div>

<div id="bottom">
  <%= link_to 'New partner', new_partner_path %>
</div>
