<% image_size ||= :thumb %>

<% div_for(portfolio) do %>
  <%= image_tag(portfolio.example.url(image_size)) %>
  <h3><%=h portfolio.title %></h3>
  <p><em><%=h portfolio.link %></em></p>
  <%= link_to("edit", edit_provider_portfolio_path(@provider, portfolio)) %>
<% end %>
