<h2>My Portfolio</h2>

<div id="my-portfolio-list" class="example-list">
<% for portfolio in @portfolios do %>
  <%= render portfolio, :include_edit_links => true %>
<% end %>
  <div style="clear: both;" />
</div>

<div id="bottom">
  <%= link_to "Add an example", new_provider_portfolio_path(@provider) %>
</div>
