

blockquote {
  display: block;
  padding: 0 60px;
  width: 400px;
}

blockquote:before, blockquote:after {
  color: #69c;
  display: block;
  font-size: 400%;
  width: 50px;
}

blockquote:before {
  content: open-quote;
  height: 0;
  margin-left: -0.55em;
}

blockquote:after {
  content: close-quote;
  height: 50px;
  margin-top: -70px;
  margin-left: 360px;
}

li.radio-button label {
  display : inline;
}
ul.radio-button-list {
  list-style : none;
}

#provider-list .provider .provider-image {
  float:left
}
#provider-list .provider {
  margin : 5px ; width: 47% ; float:left
}

div.example-list div.portfolio {
  float : left;
  padding : 9px 6px;
}

ul#navbar, ul#navbar li {
  list-style : none ;
}
ul#navbar li {
  float : left ;
}
ul#navbar li a {
  display:block;
  padding:9px 6px;
}
div#user-bar {
  float : right ;
}