li.radio-button label {
  display : inline;
}
ul.radio-button-list {
  list-style : none;
}

#provider-list .provider .provider-image {
  float:left
}
#provider-list .provider {
  margin : 5px ; width: 47% ; float:left
}
