<div class="front-page-section" id="providers-section">
  <h2><%= link_to "Our Providers", providers_path %></h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Donec justo enim, convallis a, sagittis ac, lacinia sed, enim.
    Donec arcu leo, dictum eget, fringilla ut, fringilla vulputate, massa.
    Suspendisse eget nisl commodo mauris hendrerit rutrum.
    Aenean pretium, lectus in lacinia ultrices, nunc mauris scelerisque libero, laoreet dignissim tortor nunc vel nisi. Suspendisse fringilla ipsum at magna. Nam eleifend arcu at nisi. Suspendisse eros. Aliquam dapibus, lorem quis interdum scelerisque, nisl ligula sodales dui, vitae elementum lacus neque in justo. Suspendisse tristique placerat nulla. Maecenas in felis eget urna tempor aliquam.
  </p>
</div>

<div class="front-page-section" id="blurb-section">
  <h2>Blurb</h2>
  <p>
    Duis tincidunt purus eget urna.
    Pellentesque malesuada, arcu ac accumsan laoreet, sem quam molestie tellus, non rutrum leo elit ac neque.
    Nam non felis. Sed mattis.
    Suspendisse venenatis, tortor in rutrum scelerisque, mi justo interdum leo, et facilisis lacus pede quis lectus.
    Morbi aliquet felis non eros. Mauris rhoncus. Nunc dignissim tempor ipsum.
    Curabitur mollis enim sit amet sem. Pellentesque commodo ultricies lacus.
    Etiam venenatis nibh nec nunc. Vivamus adipiscing enim et libero. Suspendisse consequat auctor neque.
  </p>
</div>