<h2>Admin Dashboard</h2>
<p>Welcome Mr Admin</p>
<p>Here is what you can do;</p>
<ul>
  <li><%= link_to("Users", admin_users_path) %></li>
  <li><%= link_to("Static Pages", admin_static_pages_path) %></li>
</ul>
