<% div_for(proposal) do %>
  <div class="proposal-content">
    <h3><%=h proposal.title %></h3>
    <p><%= simple_format(h(proposal.text)) %></p>
    <p><%=h proposal.payment_terms %></p>
    <p><%= link_to(proposal.document_file_name, proposal.document.url) if proposal.document? %></p>
  </div>
<% end %>
