<h2>My Proposals</h2>

<table id="my-proposal-list" class="proposal-list">
  <% @proposals.each do |proposal| %>
    <%= render "proposal_brief", :proposal => proposal %>
  <% end %>
</table>

<div id="bottom">
  <%= link_to 'New proposal', new_proposal_path %>
</div>