<h2>My Proposals</h2>

<div id="my-proposal-list" class="proposal-list">
  <% @proposals.each do |proposal| %>
    <%= render :partial => "proposal", :object => proposal %>
  <% end %>
</div>

<div id="bottom">
  <%= link_to 'New proposal', new_proposal_path %>
</div>