<div class="testimonial" id="testimonial-<%= testimonial.id %>">
  <blockquote>
    <%= simple_format(h(testimonial.text)) %>
    <p class="quotee">- <%=h testimonial.from %></p>
  </blockquote>
  
</div>
